body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.content {
  padding: 50px;
}
.logo {
  height: 32px;
  margin: 16px;
  color: "black" !important;
}
.logo h1 {
  font-size: 20px;
  font-weight: 900;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
  color: "black" !important;
  font-family: 'Montserrat', sans-serif;
}
